@using Application.DTO
@using Application.Services.Users
@using Application.Interfaces
@inject IIdentityService IdentityService
@inject IUserContext UserContext
@inject ISnackbar Snackbar

<MudDialog>
    <DialogContent>
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            
            <MudTextField @bind-Value="model.FirstName" Label="First Name" Required="true" 
                          For="@(() => model.FirstName)" Class="mb-3" />
                          
            <MudTextField @bind-Value="model.LastName" Label="Last Name" Required="true" 
                          For="@(() => model.LastName)" Class="mb-3" />
                          
            <MudTextField @bind-Value="model.Email" Label="Email" Required="true" InputType="InputType.Email"
                          For="@(() => model.Email)" Class="mb-3" />
                          
            <MudTextField @bind-Value="model.PhoneNumber" Label="Phone Number" 
                          For="@(() => model.PhoneNumber)" Class="mb-3" />
                          
            <MudSelect @bind-Value="model.Role" Label="Role" Required="true" Class="mb-3">
                @if (availableRoles != null)
                {
                    @foreach (var role in availableRoles)
                    {
                        <MudSelectItem Value="@role">@role</MudSelectItem>
                    }
                }
            </MudSelect>
                          
            <MudTextField @bind-Value="model.Password" Label="Temporary Password" Required="true" 
                          InputType="@PasswordInput"
                          Adornment="Adornment.End"
                          AdornmentIcon="@PasswordInputIcon"
                          OnAdornmentClick="TogglePasswordVisibility"
                          For="@(() => model.Password)" Class="mb-3" />


            <div class="d-flex justify-end mt-4">
                <MudButton OnClick="Cancel" Variant="Variant.Text">Cancel</MudButton>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-2" Disabled="@isSubmitting">
                    @if (isSubmitting)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                        <MudText Class="ms-2">Saving...</MudText>
                    }
                    else
                    {
                        <MudText>Create User</MudText>
                    }
                </MudButton>
            </div>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; }

    private RegisterUserDTO model = new RegisterUserDTO 
    {
        DateOfBirth = DateTime.UtcNow,
        Role = "Staff"
    };
    private bool isSubmitting = false;
    private List<string> availableRoles;

    protected override async Task OnInitializedAsync()
    {
        if (UserContext.PersonId.HasValue)
        {
            availableRoles = await IdentityService.GetRolesAsync(UserContext.PersonId.Value);
        }
    }

    // Password visibility toggle
    private bool isShowPassword;
    private InputType PasswordInput = InputType.Password;
    private string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    private void TogglePasswordVisibility()
    {
        if (isShowPassword)
        {
            isShowPassword = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShowPassword = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private async Task OnValidSubmit()
    {
        if (UserContext.PersonId == null)
        {
            Snackbar.Add("Error: Could not determine parent account.", Severity.Error);
            return;
        }

        try
        {
            isSubmitting = true;
            await IdentityService.RegisterSubUser(model, UserContext.PersonId.Value);
            Snackbar.Add("User created successfully!", Severity.Success);
            MudDialog.Close(DialogResult.Ok(true));
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
        finally
        {
            isSubmitting = false;
        }
    }
}
